---
const { session } = Astro.props
---

<div
    class="bg-white shadow overflow-hidden sm:rounded-lg"
    style='box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08)'
  >
    <div class="flex p-8">
      <h3 class="text-xl leading-6 font-semibold text-gray-900 my-auto">
        Session
      </h3>
    </div>
    <div class="pb-6 max-h-96">
      <dl>
        <div class="px-8 py-2">
          <dt class="text-sm font-semibold">Session ID</dt>
          <dd class="mt-1 text-sm text-gray-600 sm:mt-0 sm:col-span-2 flex gap-2">
            {session.id}
          </dd>
        </div>
        <div class="px-8 py-2">
          <dt class="text-sm font-semibold mb-1">Status</dt>
          <dd class="mt-1 text-sm text-gray-600 sm:mt-0 sm:col-span-2">
            {session.status === `active` &&
              <span class="text-xs bg-success-50 text-success-700 flex w-min gap-1 px-2 py-[1px] rounded-2xl font-medium">
                <div class="m-auto">
                  <svg
                    width="7"
                    height="6"
                    viewBox="0 0 7 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle cx="3.3335" cy="3" r="3" fill="#12B76A" />
                  </svg>
                </div>
                Active
              </span>
            }
          </dd>
        </div>
        <div class="px-8 py-2">
          <dt class="text-sm font-semibold mb-1">Last Active</dt>
          <dd class="mt-1 text-sm text-gray-600 sm:mt-0 sm:col-span-2">
            {new Date(session.lastActiveAt).toLocaleString()}
          </dd>
        </div>
        <div class="px-8 py-2">
          <dt class="text-sm font-semibold mb-1">Expiry</dt>
          <dd class="mt-1 text-sm text-gray-600 sm:mt-0 sm:col-span-2">
            {new Date(session.expireAt).toLocaleString()}
          </dd>
        </div>
      </dl>
    </div>
  </div>