---
---

<div id="auth-user-button"></div>

<script>
  import { auth } from '../../lib/authStore'

  auth.subscribe((clerk) => {
    if (clerk !== null && clerk.isReady()) {
      const userButton = document.querySelector<HTMLDivElement>('#auth-user-button')!
      clerk.mountUserButton(userButton, {
        afterSignOutUrl: '/'
      })
    }
  })
</script>